<launch>
  <node pkg="serial_commu" type="serial_str_receive_enc.py" name="wheel_encoder_rick_read"/>
  <!--node pkg="odom" type="odom.py" name="odom"/-->

  <node pkg="serial_commu" type="serial_str_arduino.py" name="pwm_to_motor_driver"/>
  <!--node pkg="robot_system" type="robot_vel_PID.py" name="wheel_vel_PID_control" output="screen"/-->
  <node pkg="robot_system" type="robot_vel_ctrl.py" name="wheel_vel_PID_control" output="screen"/>
</launch>
