<launch>
   <arg name="slam_methods" default="hector"/>
   <arg name="open_rviz" default="true"/>

   <!-- slam_methods -->
   <include file="$(find robot_system)/launch/$(arg slam_methods)_slam.launch"/>

   <!-- rviz launch -->
   <group if="$(arg open_rviz)">
     <node pkg="rviz" type="rviz" name="rviz" required="true"
           args="-d $(find robot_system)/rviz/hector_slam.rviz"/>
   </group>

</launch>
