<launch>

  <param name="home_save_dir" type="str" value="$(find robot_system)/log/homeSave.csv"/>
  <param name="pose_list_dir" type="str" value="$(find robot_system)/log/poseSaver.csv"/>
  <!--node pkg="robot_system" type="Home_save.py" name="Home_save" output="screen"/-->
  <node pkg="robot_system" type="PoseReader.py" name="PoseReader" output="screen"/>

  <node pkg="robot_system" type="robot_gui.py" name="robot_gui"/>

</launch>
