<?xml version="1.0"?>
<!-- Open_Manipulator Chain -->
<robot name="open_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find open_manipulator_support_description)/urdf/open_manipulator.gazebo.xacro"/>
<!-- Import Rviz colors -->
  <xacro:include filename="$(find open_manipulator_support_description)/urdf/materials.xacro" />
<!-- Import inertial Properties-->
  <xacro:include filename="$(find open_manipulator_support_description)/urdf/inertial_properties.xacro" />
<!-- Import inertial Properties-->
  <xacro:include filename="$(find open_manipulator_support_description)/urdf/mass_properties.xacro" />
<!-- Import Sensors-->
  <xacro:include filename="$(find open_manipulator_support_description)/urdf/sensors.xacro" />

   
 <!-- World -->
   <link name="world">
   </link>


<!-- World fixed joint -->
   <joint name="world_fixed" type="fixed">
     <parent link="world"/>
     <child link="base_link"/>
   </joint>

<!-- Base Link -->
  <link name="base_link">
	 <inertial>
      <mass value="${bl_mass}" />
      <origin xyz="${bl_cmx} ${bl_cmy} ${bl_cmz}"/>
      <inertia
        ixx="${bl_ixx}"
        ixy="${bl_ixy}"
        ixz="${bl_ixz}"
        iyy="${bl_iyy}"
        iyz="${bl_iyz}"
        izz="${bl_izz}" />
    </inertial>
	<visual>
		<geometry>
        	<mesh filename="package://open_manipulator_support_description/meshes/base_link.STL"/>
		</geometry>
		<material name="grey"/>
	</visual>
	<!-- <collision>
      <geometry>
        <mesh filename="package://open_manipulator_support_description/meshes/base_link.STL" />
      </geometry>
    </collision> -->
  </link>


<xacro:BW1092_camera parent="base_link">
  <origin xyz="0.52 0.0 0.18" rpy="0 0.7 3.14" />
</xacro:BW1092_camera>


</robot>
